@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Audiowide", sans-serif;
}

body {
  background-image: url(./image/3181600.jpg);
  background-repeat: no-repeat;
  background-size: cover;         
  background-position: center;   
  background-attachment: fixed;  
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6);
  overflow-x: hidden;
}

.moi {
  color: aliceblue;
  text-align: center;
}

.corps {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0 auto 40px auto;
  max-width: 1920px;
}


.About_me,
.profil,
.Contact,
.Projets {
  flex: 1 1 200px;
  margin: 0 10px;
  min-width: 220px;
  color: aliceblue;
  background-color: rgba(0, 14, 75, 0.37);
  border-radius: 40px;
  transition: transform 0.3s ease;
  width: 440px;
  height: 430px;
  text-align: center;
}

.About_me:hover,
.profil:hover,
.Contact:hover,
.Projets:hover {
  transform: scale(1.07);
}

.About_me h2,
.profil h2,
.Contact h2,
.Projets h2 {
  color: white;
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
}

.About_me h4,
.profil h4 {
  font-size: 80%;
}


.Contact a {
  color: white;
  text-decoration: none;
  font-size: 80%;
  display: inline-block;
  transition: all 0.3s ease;
}
.Contact a:hover {
  color: #00c3ff;
  text-shadow: 0px 0px 6px #00c3ff;
  transform: translateY(-2px);
}

.Projets a {
  color: white;
  text-decoration: none;
  font-size: 80%;
  transition: 0.3s ease;
}
.Projets a:hover {
  color: #00c3ff;
  text-shadow: 0px 0px 6px #00c3ff;
}
.Projets li {
  list-style-type: none;
  margin-left: 3%;
}


.python, .html, .css, .react {
  width: 50px;
  height: 50px;
  margin: 5px;
}

svg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100vh;
  width: 100%;
  display: block;
}
:root{
  --one:#bdd7ff;
  --two:#4c94ff;
  --three:#103064;
}
rect[y="0"]{fill:var(--two);}
rect[y="100"]{fill:var(--one);}
path{transition: .35s cubic-bezier(.3,.2,.1,1.4); fill:none; stroke:var(--two); stroke-width:10; stroke-linejoin:round; stroke-linecap:round;}
#floor{stroke:url(#one);}
#roof{stroke:url(#two);}
#one :first-child{stop-color:var(--one)}
#one :last-child{stop-color:var(--two)}
#two :first-child{stop-color:var(--two)}
#two :last-child{stop-color:var(--three)}
