@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Audiowide", sans-serif;
  font-size: 20px;
}

body {
  background-image: url(./image/abstract-graphics-with-triangular-glowing-pattern.1920x1080.gif);
  background-repeat: no-repeat;
  background-size: cover;         
  background-position: center;   
  background-attachment: fixed;  
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6);
  overflow-x: hidden;
}

.moi {
  color: aliceblue;
  text-align: center;
}

.corps {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0 auto 40px auto;
  max-width: 1920px;
}


.About_me,
.profil,
.Contact,
.Projets {
  flex: 1 1 200px;
  margin: 0 10px;
  min-width: 220px;
  color: aliceblue;
  background-color: rgba(1, 4, 20, 0.37);
  border-radius: 40px;
  transition: transform 0.3s ease;
  width: 440px;
  height: 430px;
  text-align: center;
}

.About_me:hover,
.profil:hover,
.Contact:hover,
.Projets:hover {
  transform: scale(1.07);
}

.About_me h2,
.profil h2,
.Contact h2,
.Projets h2 {
  color: white;
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
}

.About_me h4,
.profil h4 {
  font-size: 80%;
}


.Contact a {
  color: white;
  text-decoration: none;
  font-size: 80%;
  display: inline-block;
  transition: all 0.3s ease;
}
.Contact a:hover {
  color: #00c3ff;
  text-shadow: 0px 0px 6px #00c3ff;
  transform: translateY(-2px);
}

.Projets a {
  color: white;
  text-decoration: none;
  font-size: 80%;
  transition: 0.3s ease;
}
.Projets a:hover {
  color: #00c3ff;
  text-shadow: 0px 0px 6px #00c3ff;
}
.Projets li {
  list-style-type: none;
  margin-left: 3%;
}


.python, .html, .css, .react ,.GitHub ,.javascript ,.vit{
  width: 50px;
  height: 50px;
  margin: 5px;
}
